body {
  margin: 0;
  font-family: 'Bungee Shade', cursive;
}

.game-title {
  font-family: 'Bungee Shade', cursive;
}



#game-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.game-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px 20px 20px;
}

.game-details-right, .game-details-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 210px;
  height: 120px;
  padding: 15px 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, .75);
}

.score, .streak, .multiplier, .max-streak {
  font-size: 20px;
  font-family: 'Monoton', cursive;
}

.score {
  justify-content: center;
  align-items: center;
}

.game-progress  {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 700;
  /* position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  color: white;
  background: rgba(0, 0, 0, .75); */
}

.rock-input {
  background: transparent;
}

.rock-header {
  padding-top: 5px;
}

.rock-input::-webkit-slider-runnable-track {
  background: white;
}

.red .rock-input::-webkit-slider-runnable-track {
  background: red;
}

.green .rock-input::-webkit-slider-runnable-track {
  background: green;
}

.yellow .rock-input::-webkit-slider-runnable-track {
  background: yellow;
}

#song {
  display: none;
}

.game-control-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 700;
  
}

.game-control-panel button, a {
  width: 120px;
  height: 45px;
  border-radius: 7px;
  margin-bottom: 5px;
  border: 1px solid rgb(255, 255, 255);
  font-family: 'Monoton', cursive;
  background: rgb(215, 206, 2)
}

.game-control-panel button:hover {
  background: #5c5c5c;
  cursor: pointer;
}

/* .professional-links {
  border: 1px solid rgb(255, 255, 255);
  font-family: 'Monoton', cursive;
  background: rgb(215, 206, 2);
  text-decoration: none;
  color: black;
  display: inline-block;
} */

.header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid #3b3b3b;
}

.professional-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 45px;
  text-decoration: none;
  color: black;

}

.professional-links a:hover {
  background: #5c5c5c;
  cursor: pointer;
}

.creator {
  width: 100px;
}

.creator span {
  font-weight: 500;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2.5px;
  justify-content: center;
}

.header h1, .header p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px;
}

.game-start, .look-around-instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 3px 3px black;
  letter-spacing: 1.5px;
  z-index: 20;
  font-family: 'Bungee Shade', cursive;
  animation: blinkingText 1.9s infinite;
}

.look-around-instructions {
  text-align: center;
}

.instructions {
  position: absolute;
  background: rgba(0, 0, 0, .90);
  border-style: solid;
  border-color: rgb(215, 206, 2);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bungee Shade', cursive;
}

.close-instructions {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.close-instructions h1:hover {
  cursor: pointer;
}

.close-instructions h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.close-instructions h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.instructions-text {
  color: white;
  font-size: 18px;
  width: 350px;
  /* text-align: justify; */
  text-align: justify;
  /* border-style: dotted;
  border-color: rgb(215, 206, 2); */
  padding: 0px;
  margin: 10px;
}

.instructions-text li {
  margin-bottom: 5px;
}

.instructions .letters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-size: 25px;
  font-weight: 700;
  width: 325px;
  color: black;
}

.instructions .letters li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 57.735px;
   position: relative;
   margin: 10px;
}

.letters {
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.instructions .green {
  /* background: red; */
  color: red;
  border-style: dotted;
  border-color: red;
}

.instructions .red {
  /* background: yellow; */
  color: yellow;
  border-style: dotted;
  border-color: yellow;
}

.instructions .yellow {
  /* background: green; */
  color: green;
  border-style: dotted;
  border-color: green;
}

.instructions .blue {
  /* background: blue; */
  color: lightskyblue;
  border-style: dotted;
  border-color: lightskyblue;
}

.instructions .orange {
  /* background: purple; */
  color: rgb(151, 45, 151);
  border-style: dotted;
  border-color: rgb(151, 45, 151);
}

.start {
  font-family: 'Audiowide', cursive;
  color: white;
  text-shadow: 2px 2px 20px rgb(215, 206, 2);
  animation:blinkingText 1.0s infinite;
  /* position: relative;
  overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset)); */
  }
  @keyframes blinkingText{
    0%{     color: white;    }
    49%{    color: white; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: white;    }
}

/* .fa-border-style {
  color: white;
}
   */

/* LEAVE AT BOTTOM OF CSS FILE */
.hidden {
  display: none;
}


.background-img {
  position: relative;
  
}
